#header1-1 H1 {
  text-align: left;
}
#header1-1 P {
  text-align: left;
}
#slider-5 H1 {
  color: #fac51c;
  text-align: right;
}
#slider-5 P {
  color: #efefef;
  text-align: left;
}
#slider-5 B {
  color: #c1c1c1;
}
#footer1-6 P {
  text-align: center;
}
